*.suo
*.user
*/bin/*
*/obj/*
*.ncb
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
Web.Debug.config
Web.Release.config
packages/
_ReSharper*/*