@model SlickBlogApp.Models.Comment
<div class="span12 sba-comment">
    <div class="well sba-area">
        <p><span class="label">@Model.Author.Username, @Model.PostDate</span></p>
        <p>@Model.Text</p>
    </div>
</div>
