@model SlickBlogApp.ViewModels.CpPosts
@using SlickBlogApp.Helpers
@{
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
    ViewBag.Title = Model.Title;
}
<h1>@Model.Title</h1>
<section id="gridSystem">
<div class="row">
    @if (Model.Posts.Count() > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_Post", post)
        }
    }
    else
    {
        <div class="span12 sba-post">
            <p><span class="label label-info">Auto message</span></p>
            <h2>Welcome to my blog!</h2>
            <p>No posts yet.</p>
        </div>
    }
</div>
@Html.PostPaging(Model)
</section>
