<div class="hero-unit">
    <h1>SlickBlogApp</h1>
    <p>
        Welcome to SlickBlogApp.<br />
        SlickBlogApp is a blog pusblishing aplication.<br />
        You can create own blogs or browse existing ones.
    </p>
    <p><a class="btn btn-primary btn-large" href="@Url.Content("~/Account/Register")">Start here »</a></p>
</div>
