<section id="gridSystem">
    <div class="container-fluid">
        <div class="row-fluid show-grid">
            <!--Sidebar content-->
            <div class="span2">
                @Html.Partial("_Create")
            </div>
            <div class="span10">
                <!--Body content-->
                @Html.Action("UserBlogs", "Home")
            </div>
        </div>
    </div>
</section>


